/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0270e9;
  --ifm-color-primary-dark: #0265d2;
  --ifm-color-primary-darker: #025fc6;
  --ifm-color-primary-darkest: #014ea3;
  --ifm-color-primary-light: #067bfd;
  --ifm-color-primary-lighter: #1182fd;
  --ifm-color-primary-lightest: #3494fd;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9ecdff;
  --ifm-color-primary-dark: #75b8ff;
  --ifm-color-primary-darker: #60adff;
  --ifm-color-primary-darkest: #228dff;
  --ifm-color-primary-light: #c7e2ff;
  --ifm-color-primary-lighter: #dcedff;
  --ifm-color-primary-lightest: #ffffff;
}
